name: Deploy Docker Image

on:
  workflow_dispatch # Allows manual triggering
  
jobs:
  deploy:
    runs-on: ubuntu-latest # Or your desired runner environment

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Log in to Docker Hub
      uses: docker/login-action@v3
      with:
        username: chkdn3003
        password: ${{ secrets.DOCKER_HUB_TOKEN }}

    - name: Pull and Run Docker Image
      run: |
        docker pull chkdn3003/order-server-app:v1.0.0
        docker compose -f ./order-server/docker-compose.yml up --no-recreate --no-build && exit
  test:
    depends-on: deploy
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Use node.js
      uses: actions/setup-node@v3
      with:
        node-version: '18.x'

    - name: Run script in subdir
      working-directory: ./order-server
      run: echo "Running script in subdir $(pwd)"
    - name: Install dependencies
      working-directory: ./order-server
      run: npm install && npm install playwright@latest
    - name: Check playwright version
      working-directory: ./order-server
      run: npx playwright --version
    - name: Run Playwright tests
      working-directory: ./order-server
      run: npx playwright test