name: Docker Image CI

on:
  [ "workflow_dispatch" ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Build the Docker image
      run: docker compose -f ./order-server/docker-compose.yml build
    - name: push image to docker hub
      run: |
        docker login -u chkdn3003 -p ${{ secrets.DOCKER_HUB_TOKEN}}
        docker push chkdn3003/order-server-app:v1.0.0
    # - name: run container without recreating app and pull from docker hub
    #   run: docker compose -f ./order-server/docker-compose.yml up --no-recreate --no-build
  test: 
      needs: build
      runs-on: ubuntu-latest
      steps: 
      - uses: actions/checkout@v4
      - name: download docker image from docker hub
        run: |
          docker login -u chkdn3003 -p ${{ secrets.DOCKER_HUB_TOKEN}}
          docker pull chkdn3003/order-server-app:v1.0.0
      - name: run container without recreating app and pull from docker hub
        run:
          docker compose -f ./order-server/docker-compose.yml up --no-recreate --no-build
      - name: Use node.js
        uses: actions/setup-node@v3
        with:
            node-version: '18.x'
      - name: Run script in subdir
        working-directory: ./order-server
        run: echo "Running script in subdir $(pwd)"
      - name: Install dependencies
        working-directory: ./order-server
        run: npm install && npm install playwright@latest
      - name: Check playwright version
        working-directory: ./order-server
        run: npx playwright --version
      - name: Run Playwright tests
        working-directory: ./order-server
        run: npx playwright test
